.bg-custom{
	background: #283593 !important;
	/* #8e24aa; #aa00ff*/
}

.navbar .nav-item .nav-link{
	font-size: 20px;
	color: white;
}

.navbar .nav-item:hover .nav-link{
	background: white;
	color: black;
	border-radius: 10px;
}